<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="prjRMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <prjRMS.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.1.34</value>
            </setting>
            <setting name="Uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value>pr0j3ctf</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>rmsomdb</value>
            </setting>
            <setting name="TenantID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rmMode" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="rmFloor" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="rmDtFrm" serializeAs="String">
                <value />
            </setting>
            <setting name="rmDtTo" serializeAs="String">
                <value />
            </setting>
            <setting name="ResTotalDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResLeftDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ContLeftDays" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RentPena" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="billDay" serializeAs="String">
                <value>07</value>
            </setting>
            <setting name="FloorPlan" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Desig" serializeAs="String">
                <value />
            </setting>
            <setting name="bReqDelay" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="EditCont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditRmBill" serializeAs="String">
                <value>False</value>
            </setting>
        </prjRMS.Properties.Settings>
    </userSettings>
</configuration>
